<h1>About The Developer</h1>
<div class="jumbotron text-center">
	<p>
		<%= image_tag "developer1.jpeg" %>
		<br />
		<em>After the Michigan APF 2015 Fall Meet</em>
	</p>
	<p>
		My name is Mike and I like to lift weights. I made this application from scratch (with lots of help from Stack Overflow) for Grand Valley State University's Student Scholar's Day 2016. Before this application I had no prior experience with Ruby, Ruby on Rails, Bootstrap, or Convention Over Configuration languages.
	</p>
</div>
<div class="row text-center">
	<div class="col-md-6">
		<h3>Application Purpose:</h3>
		<p>
			Provide a streamlined way for lifters to create their own conjugate-style training cycle.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Project Purpose:</h3>
		<p>
			Independently learn a new programming language and design paradigm, develop a working database-driven web application, and combine my love of web development and powerlifting to produce a scholarly work of love 
		</p>
	</div>
</div>
<div class="row text-center">
	<div class="col-md-6">
		<%= link_to "Back to the Home Page", welcome_index_path, :class => "btn btn-primary" %>
	</div>
	<div class="col-md-6">
		<a href="http://www.github.com/craftman32/powerplanner" class="btn btn-default">View the Source Code</a>
	</div>
</div>