<%= form_for [$macrocycle, @mesocycle] do |f| %>
 
  <% if @mesocycle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@mesocycle.errors.count, "error") %> prohibited
        this mesocycle from being saved:
      </h2>
      <ul>
        <% @mesocycle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<% end %>