<h1>Deload Options</h1>
<div class="jumbotron">
	<p>
		Congratulations! We are on the final step of creating your cycle! All we need to do is decide how you will deload. Deloading describes taking it easy for a week of training and can be done by removing your max effort exercises, dynamic effort exercises, repetition effort exercises, or a combination of all three. Don't worry: you won't lose your strength! Studies have shown that the body gets stronger in three week periods, so to promote longevity and to prepare for the next mesocycle you should take the fourth week of training as a deload week. I can automatically assign deload options for you or you can manually choose them.
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>Automatically Assign Me Deload Options</h3>
		<p>
			I will automatically choose deload options for you based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Manually Select Deload Options</h3>
		<p>
			I will give you a list of deload options for you to choose from based on your weaknesses, timeframe, and available equipment.
		</p>
	</div>
</div>
<div class="row text-center">
	<div class="col-md-6">
		<%= link_to 'Auto Assign', lucy_autodeload_path, :class=>'btn btn-primary' %>
	</div>
	<div class="col-md-6">
		<%= link_to 'Manual', lucy_deload_post_path, :class=>'btn btn-default' %>
	</div>
</div>