<h1>All Done!</h1>
<div class="jumbotron">
	<p>
		We have completed your training cycle! Wasn't that fun? To view it, click the "View Macrocycle" button below. To learn a little bit more about me, click the "About Lucy" button below. Thank you for visiting me! 
	</p>
</div>
<div class="row  text-center">
	<div class="col-md-6">
		<h3>View Your Completed Macrocycle</h3>
		<p>
			<%= button_to "View Macrocycle", $lucyMacrocycle, :class => "btn btn-primary", :method => :get, data: {disable_with: "Loading macrocyle please wait..."} %>
		</p>
	</div>
	<div class="col-md-6">
		<h3>Learn About the Real Life Lucy</h3>
		<p>
			<%= link_to 'About Lucy', lucy_about_path, :class=>'btn btn-default' %>
		</p>
	</div>
</div>